:root {
    --sdpi-bgcolor: #2D2D2D;
    --sdpi-background: #3D3D3D;
    --sdpi-color: #d8d8d8;
    --sdpi-bordercolor: #3a3a3a;
    --sdpi-buttonbordercolor: #969696;
    --sdpi-borderradius: 0px;
    --sdpi-width: 224px;
    --sdpi-fontweight: 600;
    --sdpi-letterspacing: -0.25pt;
}