@import "../common";

option, select {
    font-size: 10pt;
    font-weight: var(--sdpi-fontweight);
    letter-spacing: var(--sdpi-letterspacing);

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    
    border: 1pt solid #303030;
    background-color: var(--sdpi-background);
    border-radius: var(--sdpi-borderradius);

    margin-left: 4px;
    margin-right: 13px;
    width: 100%;
    
    &, & option {
        color: var(--sdpi-color);
    }

    option:disabled {
        color: #fd9494;
	    font-style: italic;
    }
}

option {
    height: 1.5em;
    padding: 4px;
}